## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

from pprint import pprint

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
0,0,Punta Arenas,CL,-53.1500,-70.9167,41.11,65,20,17.27,few clouds
1,1,Hermanus,ZA,-34.4187,19.2345,60.53,86,37,8.28,scattered clouds
2,2,Kapaa,US,22.0752,-159.3190,77.11,85,56,1.99,broken clouds
3,3,Dwarka,IN,22.2394,68.9678,82.92,83,48,23.20,scattered clouds
4,4,Minas,UY,-34.3759,-55.2377,64.15,53,37,5.44,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature you would like for your vacation?"))
max_temp = float(input("What is your maximum temperature you would like for your vacation?"))

What is your minimum temperature you would like for your vacation?65
What is your maximum temperature you would like for your vacation?85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
new_city_data_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
new_city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather description
2,2,Kapaa,US,22.0752,-159.3190,77.11,85,56,1.99,broken clouds
3,3,Dwarka,IN,22.2394,68.9678,82.92,83,48,23.20,scattered clouds
7,7,Tondano,ID,1.3038,124.9112,68.09,88,81,2.17,broken clouds
8,8,Ponta Do Sol,PT,32.6667,-17.1000,73.00,76,20,1.28,few clouds
9,9,Dingle,PH,10.9995,122.6711,77.43,89,97,4.27,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
# np.where(pd.isnull(new_city_data_df))
new_city_data_df.count()

City_ID                320
City                   320
Country                319
Lat                    320
Lng                    320
Max Temp               320
Humidity               320
Cloudiness             320
Wind Speed             320
Weather description    320
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = new_city_data_df.dropna()
clean_df.count()
# clean_df.columns

City_ID                319
City                   319
Country                319
Lat                    319
Lng                    319
Max Temp               319
Humidity               319
Cloudiness             319
Wind Speed             319
Weather description    319
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Kapaa,US,77.11,broken clouds,22.0752,-159.3190,
3,Dwarka,IN,82.92,scattered clouds,22.2394,68.9678,
7,Tondano,ID,68.09,broken clouds,1.3038,124.9112,
8,Ponta Do Sol,PT,73.00,few clouds,32.6667,-17.1000,
9,Dingle,PH,77.43,overcast clouds,10.9995,122.6711,
12,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,
15,Grand Gaube,MU,75.60,light rain,-20.0064,57.6608,
19,Antsohihy,MG,77.00,broken clouds,-14.8796,47.9875,
23,Arrecife,ES,73.38,few clouds,28.9630,-13.5477,
25,Karratha,AU,78.31,overcast clouds,-20.7377,116.8463,

In [8]:
# from config import g_key
# gmaps.configure(api_key=g_key)
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterat``e through the hotel DataFrame.
# for index, row in hotel_df.head(10).iterrows():
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    from pprint import pprint

#     pprint(hotels)
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Kapaa,US,77.11,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Dwarka,IN,82.92,scattered clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
7,Tondano,ID,68.09,broken clouds,1.3038,124.9112,Villa Bella
8,Ponta Do Sol,PT,73.00,few clouds,32.6667,-17.1000,Hotel do Campo
9,Dingle,PH,77.43,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
12,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Grand Gaube,MU,75.60,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
19,Antsohihy,MG,77.00,broken clouds,-14.8796,47.9875,Hotel de Ville
23,Arrecife,ES,73.38,few clouds,28.9630,-13.5477,Hotel Lancelot
25,Karratha,AU,78.31,overcast clouds,-20.7377,116.8463,ibis Styles Karratha

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna() 
clean_hotel_df.head()

,City,Country,Max Temp,Weather description,Lat,Lng,Hotel Name
2,Kapaa,US,77.11,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Dwarka,IN,82.92,scattered clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
7,Tondano,ID,68.09,broken clouds,1.3038,124.9112,Villa Bella
8,Ponta Do Sol,PT,73.00,few clouds,32.6667,-17.1000,Hotel do Campo
9,Dingle,PH,77.43,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))